<div class="page">
    <div class="panel-top">
        <img class="logo" src="assets/img/logo-datapar.png">
        <button class="acceso" label="Acceso" pButton></button>
    </div>
    <div class="panel-center">
        <div class="inicio" *ngIf="!showCalificacionCard">
            <label class="slogan">Su opinión es importante para nosotros, asi que califícanos!</label>
            <button class="calificar" pButton label="Empezar" (click)="showCalificacionCard = true"></button>
        </div>
        <div *ngIf="showCalificacionCard">
            <app-calificacion-card (volver)="showCalificacionCard = false"></app-calificacion-card>
        </div>
    </div>
    
  </div>
  