.page{
    width: 100%;
    height: 100%;
}

.panel-top{
    display: flex;
    flex-direction: row;
}

.logo{
width: 13%;  
margin: 20px;  
}


.acceso{
    width: 90px;
    height: 45px;
    margin: 10px;
    margin-left: auto;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 7%;
}


.panel-center{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.panel-center div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inicio{
    margin-top: 5%;
}

.slogan{
margin: 15px;
}

.slogan .msg1{
    font-size: 26px;
    margin: 5px;
    color: limegreen;
}

.slogan .msg2{
    font-size: 30px;
    margin: 5px;
    color: rgb(59, 59, 59);
}

.calificar{
    background-color: slateblue;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 17px;
    border-radius: 12%;
}

.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 100000000000;
}


button{
    color: white;
    font-family: sans-serif,Arial;
}

label{
    font-family: sans-serif,Arial; 
}

