.page{
    width: 100%;
    height: 100%;
}

.panel-top{
    display: flex;
    flex-direction: row;
}

.logo{
width: 15%;  
margin: 20px;  
}


.acceso{
    width: 90px;
    height: 45px;
    margin: 10px;
    margin-left: auto;
    text-align: center;
    font-size: 0.9rem;
}

.panel-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.slogan{
    margin: 20px;
    font-size: 30px;
}

.calificar{
    background-color: slateblue;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
    outline: none;
    border: none;
    padding: 17px;
}



button{
    color: white;
    font-family: sans-serif,Arial;
}

label{
    font-family: sans-serif,Arial; 
}

