<div class="page">
    <label class="title">Calificacion</label>
    <div class="formulario">
        <form [formGroup]="formulario" (ngSubmit)="submit($event)" (keydown.enter)="$event.preventDefault()">
        <div class="panel-top">
        <div class="panel-left">
        <div class="p-field">
        <label>Nombre*</label>
        <input id="nombre" formControlName="nombre" type="username" pInputText  [pTooltip]="formErrors.nombre" tooltipEvent="focus" [style]="markField('nombre')" />
        </div>
        <div class="p-field">
            <label>Correo*</label>
            <input id="correo" formControlName="correo" type="email" pInputText [pTooltip]="formErrors.correo" tooltipEvent="focus" [style]="markField('correo')"  />
        </div>
        </div>
        <div class="panel-right" *ngIf="(getPuntaje() != null && getPuntaje() <=2)">
            <div class="contacto">
                    <div class="p-field">
                        <label>Empresa</label>
                        <input id="correo" formControlName="empresa" type="email" pInputText />
                    </div> 
                    <div class="p-field">
                        <label>Telefono</label>
                        <input id="telefono" formControlName="telefono" type="number" pInputText/>
                    </div> 
            </div>
        </div>
        </div>
        <div class="panel-center">
            <div class="p-field">
                <label>Observaciones</label>
                <textarea pInputTextarea formControlName="observaciones" [pTooltip]="formErrors.observaciones" tooltipEvent="focus" [style]="markField('observaciones')"></textarea>
            </div>
    
            <div class="puntaje">
                <label>Puntaje*</label>
                <div [pTooltip]="formErrors.puntaje" tooltipEvent="hover" [style]="markField('puntaje')">
                    <i [style]="setStarStyle(1).color" [class]="setStarStyle(1).icon" (click)="setPuntaje(1)"></i>
                    <i [style]="setStarStyle(2).color" [class]="setStarStyle(2).icon" (click)="setPuntaje(2)"></i>
                    <i [style]="setStarStyle(3).color" [class]="setStarStyle(3).icon" (click)="setPuntaje(3)"></i>
                    <i [style]="setStarStyle(4).color" [class]="setStarStyle(4).icon" (click)="setPuntaje(4)"></i>
                    <i [style]="setStarStyle(5).color" [class]="setStarStyle(5).icon" (click)="setPuntaje(5)"></i>
                </div>
            </div>
        </div>
        <div class="panel-bottom">
            <button class="volver" label="Volver" (click)="volverHome()"  pButton></button>
            <button class="enviar" label="Enviar" pButton></button>
        </div>
        </form>
    </div>
</div>
