.page{
    width: 100%;
    height: 100%;
}

.panel-top{
    display: flex;
    flex-direction: row;
}

.logo{
width: 13%;  
margin: 20px;  
}


.logout{
    width: 90px;
    height: 45px;
    margin: 10px;
    margin-left: auto;
    text-align: center;
    font-size: 0.9rem;
}


.panel-center{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.title{
font-size: 25px;
text-decoration: underline;
}


.stats{
display: flex;
flex-direction: row;
align-items: flex-end;
margin-right: auto;
margin-left: 5px;
border-radius: 5px;
padding: 10px;
}

.stats label{
    margin: 10px;
    font-size: 14px;
}



.title-table{
 font-size: 20px;
 margin-bottom: 10px;
}


.table{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.table div {
    width: 95%;
    margin: auto;
}




th,td{
    text-align: center !important;
}


button{
    color: white;
    font-family: sans-serif,Arial;
}

label{
    font-family: sans-serif,Arial; 
}