.page{
    width: 100%;
    height: 100%;
}

.panel-top{
    display: flex;
    flex-direction: row;
}

.logo{
width: 13%;  
margin: 20px;  
}


.logout{
    width: 90px;
    height: 45px;
    margin: 10px;
    margin-left: auto;
    text-align: center;
    font-size: 0.9rem;
}


.panel-center{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.panel-center div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


th,td{
    text-align: center !important;
}


button{
    color: white;
    font-family: sans-serif,Arial;
}

label{
    font-family: sans-serif,Arial; 
}